@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;

  --color-bg: #b8bcc4;
  --color-surface: #e3e3e8;
  --color-surface-dark: #2d2d2d;
  --color-text: #2d2d2d;
  --color-text-muted: #6b6b72;
  --color-white: #ffffff;

  --breakpoint-*: initial;
}

@custom-variant 2xl (@media (max-width: 1650px));
@custom-variant xl (@media (max-width: 1399px));
@custom-variant lg (@media (max-width: 1200px));
@custom-variant md (@media (max-width: 992px));
@custom-variant sm (@media (max-width: 768px));
@custom-variant xs (@media (max-width: 480px));
@custom-variant xxs (@media (max-width: 360px));

@layer base {
  html {
    @apply bg-bg text-text font-inter scroll-smooth leading-normal font-normal antialiased;
  }
}
